nav {
    display: flex;
    justify-content: space-between;
    background: black;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.logo img {
    width: 6vh;
    height: auto;
}

#topics-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.topic {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 16px;
}

.topic:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}